.work-hero-image {
  background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url(../../assets/images/work/knolling.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.work-hero-text {
  font: 3rem 'cambay';
  background: rgba(233, 229, 229, 0.7);
}
.fp-mask {
  a {
    color: white;
    text-decoration: none;
  }
}
