/* Styling for frontpage.php
****
*/
//Hero image
#under-nav {
  height: 20vh;
  width: 100%;
}
.hero-content {
  width: 100%;
  height: 80vh;
}
.hero-text {
  font: 1.2em 'bhavuka';
  text-align: center;
  margin: 0 auto;
  background: #F7F7F7;
  padding: 0 0.2em;
  height: 20vh;
  display: flex;
  align-items: flex-end;
}
.hero-image {
  background-image: url(../../assets/images/mainpage/hero.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100%;
}
.hero-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.hero-scroll {
  text-align: center;
  font: 0.75em 'skia';
  width: 50%;
  height: 30px;
  background: transparent;
  border: none;
  text-decoration: none;
}
//front page content
.page-content {
  margin: 0 auto;
  text-align: center;
}
.fp-title {
  font: 2rem 'cambay';
  margin: 0;
  padding: 3rem 0;
}
.fp-image-box {
  width: 90%;
  margin: 0 auto;
}
.fp-image-container {
  margin: 0 auto;
  padding-bottom: 0.5rem;
  position: relative;
}
.read-more-btn {
  font: 1.25rem 'cambay';
  background: transparent;
  border: 1px solid black;
  padding: 0 4rem;
  margin: 1.5rem;
}
.fp-mask {
  display: none;
}
@media screen and (min-width: 40.1rem) {
  #under-nav {
    height: 25vh;
    width: 100%;
  }
  .hero-text {
    font: 2.9rem 'bhavuka';
    margin: 0 auto;
    background: #F7F7F7;
    padding: 0;
    height: 15vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .hero-image {
    background-image: url(../../assets/images/mainpage/hero.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
  }
  .hero-scroll {
    text-align: center;
    font: 0.75em 'skia';
    width: 30%;
    height: 30px;
    background: transparent;
    border: none;
    text-decoration: none;
  }
  .hero-scroll-dest {
    position: absolute;
    bottom: 6rem;
  }
  .page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fp-image-box {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .fp-image-container {
    margin: 0;
    padding: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 550px;
      height: 368px;
    }
  }
  .grid-2_xs-1 {
    .col-6_xs-12 {
      max-width: 550px;
    }
  }
  //hover masks
  .fp-mask {
    opacity: 0;
    overflow: visible;
    transition: all 0.4s ease-in-out;
    position: absolute;
    top: 5%;
    left: 5%;
    right: 2.5%;
    bottom: 2.5%;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    p {
      font: 1.66rem 'cambay';
    }
  }
  .fp-image-container:hover .fp-mask {
    opacity: 0.7;
    width: 90%;
    height: 90%;
    background: black;
    top: 5%;
    left: 5%;
    right: 2.5%;
    bottom: 2.5%;
  }
  .white-border-btn {
    background: transparent;
    font: 1rem 'montserrat';
    box-shadow: none;
    border: 1px solid white;
    width: 198px;
    height: 54px;
    color: white;
  }
}
